[package]
name = "merde"
version = "4.0.5"
edition = "2021"
authors = ["Amos Wenger <amos@bearcove.net>"]
description = "Serialize and deserialize with declarative macros"
license = "Apache-2.0 OR MIT"
readme = "README.md"
repository = "https://github.com/bearcove/merde"
keywords = ["serialization", "deserialization"]
categories = ["encoding", "parser-implementations"]

[[example]]
name = "simple"
path = "examples/simple.rs"
required-features = ["json"]

[[example]]
name = "mixed"
path = "examples/mixed.rs"
required-features = ["json"]

[[example]]
name = "into-static"
path = "examples/into-static.rs"
required-features = ["json"]

[[example]]
name = "return-deserialize"
path = "examples/return-deserialize.rs"
required-features = ["json"]

[dependencies]
merde_core = { version = "4.0.2", path = "../merde_core", optional = true }
merde_json = { version = "4.0.2", path = "../merde_json", optional = true }
merde_time = { version = "4.0.3", path = "../merde_time", optional = true, features = [
    "merde",
] }

[features]
default = ["core", "deserialize"]
full = ["core", "deserialize", "json", "time"]
deserialize = ["core", "merde_time/deserialize"]
core = ["dep:merde_core"]
compact_str = ["merde_core/compact_str"]
serde = ["merde_core/serde"]

json = ["dep:merde_json", "merde_time/json"]
time = ["dep:merde_time"]
